In [1]:
import pandas as pd
import numpy as np
import os

## Download transit data

In [2]:
def download_GTFS_data(GTFS_URLs):
    #--------------------------------------------
    #downloads the GTFS data inside data\ for all the GTFS data passed as dictionary
    #INPUT: GTFS_URLs: dictionary of agency name and 
    #OUTPUT: None
    #---------------------------------------------
    
    #get current working directory
    current_path=os.getcwd()

    #make new directory data
    data_folder_path=os.path.join(current_path,'data')
    if not os.path.exists(data_folder_path):
        os.mkdir(data_folder_path)
    
    for agencies in list(GTFS_URLs.keys()):
        #make new directory for each all GTFS input link
        data_dir=os.path.join(data_folder_path, agencies)
        if not os.path.exists(data_dir):
            os.mkdir(data_dir)
        
        #download data and extract it
        import requests, zipfile, io
        r = requests.get(GTFS_URLs[agencies])
        z = zipfile.ZipFile(io.BytesIO(r.content))
        z.extractall(data_dir)

In [3]:
#add url of GTFS of all agencies as dictionary
GTFS_URLs={'DDOT':'https://transitfeeds.com/p/detroit-department-of-transportation/299/latest/download',
          'DPM':'https://transitfeeds.com/p/detroit-transportation-corporation/1043/latest/download'}

#call function to download data
download_GTFS_data(GTFS_URLs)

### Merge datasets

# Analysis for only one data source
*******make function and run for other data too

In [4]:
gtfs_path=r'data/DDOT/'

#list of files to read
gtfs_files_to_read=['routes.txt', 'trips.txt', 'stop_times.txt','calendar.txt','stops.txt']

#read the files and create pandas dataframe with same filename
for files in gtfs_files_to_read:
    vars()[files[:-4]]  = pd.read_csv(gtfs_path+files)

#merge dataframes
trips_routes=pd.merge(trips, routes, on='route_id',how='left')
stoptime_trips_routes=pd.merge(stop_times, trips_routes, on='trip_id', how='left')
data_df=pd.merge(stoptime_trips_routes,stops, on='stop_id', how='left')

#retain only useful column
data=data_df[['trip_id','route_id', 'service_id', 'direction_id',
         'arrival_time', 'departure_time', 'stop_id', 'stop_sequence','shape_dist_traveled',
        'stop_code', 'stop_name', 'stop_desc', 'stop_lat','stop_lon',
         'route_short_name', 'route_long_name','route_type','route_color']]

### frequency analysis

In [5]:
#convert arrival_time column into pandas datetime format
data['arrival_time_pd']=data.apply(lambda x: pd.to_datetime(x['arrival_time'].strip(),format='%H:%M:%S')
                                   if int(x['arrival_time'].strip().split(':')[0])<24 
                                   else np.nan,axis=1)
data['arrival_time_hr']=data['arrival_time_pd'].dt.hour

#bin arrival time of bus based on categorical time of day
## Early: 4 am - 6 am
## AM Peak: 6 am - 9 am
## Midday: 9 am - 3 pm
## PM Peak: 3 pm - 7 pm
## Evening: 7 pm - 11 pm
## Late Night: 11 pm - 4 am
data['interval']=pd.cut(data['arrival_time_hr'],[0,4,6,9,15,19,23,24],
                        labels=['Late Night','Early','AM Peak','Midday','PM Peak','Evening','Late Night1'])
#replace 'Late Night1' with 'Late Night'
data['interval']=data['interval'].replace({'Late Night1':'Late Night'})

#groupby stops and calaculate frequency and average time difference 
freq_at_stops=(data.groupby(['stop_id','interval'])
                  .arrival_time_pd
                  .agg({'count': 'count',
                        'avg_time_diff': lambda group: group.sort_values().diff().mean().seconds/60}))
freq_at_stops.reset_index(inplace=True)
freq_at_stops.set_index('stop_id',inplace=True)


#frequency at stops by routes
freq_at_stops_by_routes=(data.groupby(['stop_id','route_id','interval'])
                  .arrival_time_pd
                  .agg({'count': 'count',
                        'avg_time_diff': lambda group: group.sort_values().diff().mean().seconds/60}))
freq_at_stops_by_routes.reset_index(inplace=True)
freq_at_stops_by_routes.set_index('stop_id',inplace=True)

#summary of bus schedule at each stops
bus_schedule_at_stops=(data.groupby(['stop_id'])
                  .arrival_time_pd
                  .agg({'count': 'count',
                        'first_bus': lambda group: group.min().time(),
                       'last_bus': lambda group: group.max().time()}))
bus_schedule_at_stops=bus_schedule_at_stops.join(data[['stop_id','route_id']].groupby(['stop_id']).nunique(),
                               on='stop_id',how='left').drop(columns=['stop_id']).rename(columns={'route_id':'number_of_routes'})

#merge lon and lat values of station
freq_at_stops_data=pd.merge(freq_at_stops, stops[['stop_id','stop_lat','stop_lon']], on='stop_id',how='inner')
bus_schedule_at_stops_data=pd.merge(bus_schedule_at_stops, stops[['stop_id','stop_lat','stop_lon']], on='stop_id',how='inner')
freq_at_stops_by_routes_data=pd.merge(freq_at_stops_by_routes, stops[['stop_id','stop_lat','stop_lon']], on='stop_id',how='inner')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

In [6]:
freq_at_stops_data.head()

   stop_id interval  count  avg_time_diff   stop_lat   stop_lon
0       15    Early      2      60.000000  42.327192 -83.156513
1       15  AM Peak      8      17.133333  42.327192 -83.156513
2       15   Midday     18      17.700000  42.327192 -83.156513
3       15  PM Peak     12      16.450000  42.327192 -83.156513
4       15  Evening      3      30.000000  42.327192 -83.156513

In [7]:
bus_schedule_at_stops_data.head()

   stop_id  count first_bus  last_bus  number_of_routes   stop_lat   stop_lon
0       15     43  05:14:00  21:13:00                 1  42.327192 -83.156513
1       21     84  05:08:00  23:08:00                 1  42.347309 -83.057625
2       22     84  05:13:29  23:14:23                 1  42.357982 -83.030357
3       25     82  05:15:31  23:29:27                 1  42.358312 -83.029953
4       32     55  06:11:00  23:31:00                 1  42.339119 -83.022671

In [8]:
freq_at_stops_by_routes_data.head()

   stop_id  route_id interval  count  avg_time_diff   stop_lat   stop_lon
0       15      7029    Early      2      60.000000  42.327192 -83.156513
1       15      7029  AM Peak      8      17.133333  42.327192 -83.156513
2       15      7029   Midday     18      17.700000  42.327192 -83.156513
3       15      7029  PM Peak     12      16.450000  42.327192 -83.156513
4       15      7029  Evening      3      30.000000  42.327192 -83.156513

### save csv files

In [9]:
#get current working directory
current_path=os.getcwd()

#make new directory data
data_folder_path=os.path.join(current_path,'output')
if not os.path.exists(data_folder_path):
    os.mkdir(data_folder_path)
freq_at_stops_data.to_csv('output/freq_at_stops_data.csv')
freq_at_stops_by_routes_data.to_csv('output/freq_at_stops_by_routes_data.csv')
bus_schedule_at_stops_data.to_csv('output/bus_schedule_at_stops_data.csv')